<!-- views/stocks/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick a Stock</title>
  </head>
  <body>
    <h1>Pick a New Stock!</h1>
    <form action="/stocks" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="buy">Buy?</label>
        <input type="checkbox" name="buy" id="buy" />
        <button type="submit">Add Stock</button>


        <!-- <label for="sell">Sell?</label>
        <input type="checkbox" name="sell" id="sell" />
        <button type="submit">Remove Stock</button> -->
    </form>
  </body>
</html>
