<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stocks App</title>
  </head>
  <body>
    <% if (user) { %>
    <h1>Welcome to the Stocks app <%= user.username %>!</h1>
    <% } else { %>
    <h1>Welcome to the Stocks app, guest.</h1>
    <% } %>
    <p>An app for managing your favorite stock portfolio.</p>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">sign in</a>
    <a href="/stocks">Browse Stocks</a>
  </body>
</html>